body{
    font-family: 'Russo One', sans-serif;
    margin: 0;
}
h1{
    font-size: 150px;
    margin-bottom: 0;
}
h2{
    font-size: 40px;
    margin-bottom: 0;
}
h3{
    font-size: 20px;
}
p{
    margin-bottom: 50px;
    text-align: justify;
}
section{
    display: flex;
}
.text{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-right: 150px;
    padding-left: 100px;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(233, 87, 19));
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
}

.sec-second{
    margin-top: 200px;
}
.img-second{
    padding-right: 40px;
    padding-left: 100px;
}
.txt-second{
    padding-left: 110px;
    text-align: justify;
    padding-right: 5px;
}
.img-first{
    padding-right: 100px;
}