body{
    font-family: 'Russo One', sans-serif;
}
h1{
    font-size: 180px;
    margin-bottom: 0;
}
h2{
    font-size: 40px;
    margin-bottom: 0;
}
h3{
    font-size: 20px;
}
p{
    margin-bottom: 50px;
    text-align: justify;
}
section{
    display: flex;
}
.text{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-right: 150px;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(233, 87, 19));
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
}
.sec2{
    margin-top: 200px;
}
.img2{
    padding-right: 50px;
}
.txt2{
    padding-left: 50px;
    text-align: justify;
}